<!-- 1 formulario signal
detectar si es nuevo o es para actualizar, y mostrar el formulario con los datos del usuario a actualizar
e

-->

<section class="py-2">
  <h1 class="h3 text-uppercase fw-normal mb-4">{{ title() }}</h1>

  <form class="row g-4" novalidate (submit)="getDataForm($event)">
    <div class="col-12">
      <label class="form-label" for="firstName">Nombre Usuario</label>
      <input
        class="form-control"
        id="firstName"
        type="text"
        [formField]="usuarioFields.first_name"
        placeholder="Introduce nombre de usuario"
      />
    </div>

    <div class="col-12">
      <label class="form-label" for="lastName">Apellido Usuario</label>
      <input
        class="form-control"
        id="lastName"
        type="text"
        [formField]="usuarioFields.last_name"
        placeholder="Introduce apellido de usuario"
      />
    </div>

    <div class="col-12">
      <label class="form-label" for="email">Email Usuario</label>
      <input
        class="form-control"
        id="email"
        type="email"
        [formField]="usuarioFields.email"
        placeholder="Introduce email del usuario"
      />
    </div>

    <div class="col-12">
      <label class="form-label" for="image">Imagen Usuario</label>
      <input
        class="form-control"
        id="image"
        type="url"
        [formField]="usuarioFields.image"
        placeholder="Introduce url de foto usuario"
      />
    </div>

    <div class="col-12">
      <button class="btn btn-outline-secondary px-4" type="submit">Guardar</button>
    </div>
  </form>
</section>
